body {
    font-family: 'Roboto', 'san-serif';
}

/* navigation bar */
.sidenav i {
    font-size: 1.2rem;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    z-index: 1;
}

/* side navigation bar on mobile screen */
@media only screen and (max-width : 540px) {
    nav.sidenav {
        width: 0;
        padding: 0;
        transition: 0.5s;
    }

    nav.sidenav.show {
        width: 180px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    div.mobile {
        width: 100%;
        position: relative;
    }
}

/* signup / login form */
.form-backdrop {
    background-image: linear-gradient(109.5deg, rgba(76, 221, 242, 1) 11.2%, rgba(92, 121, 255, 1) 91.1%);
}

.wrapper-glassmorphism {
    background: rgb(49 95 143 / 34%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 5rem;
}

/* utilities */
.text-muted {
    font-size: 0.85rem;
}

button.add-item {
    cursor: pointer;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0;
}

i.bi-plus-circle {
    color: var(--bs-primary);
    font-size: 1.1rem;
    cursor: pointer;
}

i.bi-plus-circle:hover {
    color: white;
    border-radius: 50%;
    background-color: var(--bs-primary);
}

.hover-gray:hover,
.list-group-item:hover {
    background-color:rgba(221, 221, 221, 0.8);
}