/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
    font-family: 'Roboto', 'san-serif';
}

/* navigation bar and brand */
.sidenav i {
    font-size: 1.2rem;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    z-index: 1;
}

.navbar-light .navbar-brand,
.brand-text {
    font-size: 1.8rem;
    line-height: 0.8;
    font-weight: 600;
    color: var(--bs-primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.brand-text {
    color: var(--bs-white);
    font-size: 3rem;
}

.brand-text:focus,
.brand-text:hover {
    color: var(--bs-primary);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--bs-primary);
}

.sidenav .nav-link {
    color: var(--bs-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sidenav .nav-link:focus,
.sidenav .nav-link:hover {
    color: var(--bs-primary);
    background: var(--bs-white);
}

.sidenav .nav-link.active {
    color: var(--bs-primary);
    background: var(--bs-white);
}

.sidenav .nav-link i {
    margin-right: 0.7rem;
}

/* index page */
.hero-section,
.features,
.testimonials,
.call-to-action {
    padding: 3.5rem 1.5rem;
}

.features,
.call-to-action {
    background-color: #e0f0ff;
}

h1.hero-heading {
    font-size: 2rem;
}

.section-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

.features .card.card-body {
    -webkit-box-shadow: 0 8px 32px 0 rgb(94 95 102 / 24%);
            box-shadow: 0 8px 32px 0 rgb(94 95 102 / 24%);
}

/* signup / login form */
.form-backdrop {
    background-image: -o-linear-gradient(340.5deg, rgba(76, 221, 242, 1) 11.2%, rgba(92, 121, 255, 1) 91.1%);
    background-image: linear-gradient(109.5deg, rgba(76, 221, 242, 1) 11.2%, rgba(92, 121, 255, 1) 91.1%);
}

.wrapper-glassmorphism {
    background: rgb(49 95 143 / 34%);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2.5rem;
    width: 320px;
}

.form-navigation {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1rem;
}

.form-navigation .form-navigation-link.active {
    color: var(--bs-white);
    border-bottom: 5px solid #00dcff;
}

.form-navigation-link {
    color: #cfcfcf;
    font-weight: 600;
    text-decoration: none;
}

.form-navigation-link:focus,
.form-navigation-link:hover {
    color: var(--bs-white);
}

/* utilities */
.text-muted {
    font-size: 0.85rem;
}

button.add-item {
    cursor: pointer;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0;
}

i.bi-plus-circle {
    color: var(--bs-primary);
    font-size: 1.1rem;
    cursor: pointer;
}

i.bi-plus-circle:hover {
    color: white;
    border-radius: 50%;
    background-color: var(--bs-primary);
}

.hover-gray:hover,
.list-group-item:hover {
    background-color: rgba(221, 221, 221, 0.8);
}

.divider {
    width: 10%;
    height: 3px;
    background-color: var(--bs-primary);
    margin-bottom: 1.5rem;
}

.flash-message.success {
    color: var(--bs-primary);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    display: inline;
    background-color: #e0f0ff;
}

.flash-message.error {
    color: var(--bs-danger);
    padding: 0.5rem 2rem;
    border-radius: 10px;
    display: inline;
    background-color: #ffe0e0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

/* media queries */
/** side navigation bar on mobile screen **/
@media only screen and (max-width : 540px) {
    nav.sidenav {
        width: 0;
        padding: 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    nav.sidenav.show {
        width: 180px;
        position: fixed;
        z-index: 1045;
        top: 0;
        left: 0;
    }

    div.mobile {
        width: 100%;
        position: relative;
    }

    .sidenav .nav-link.active {
        color: var(--bs-white);
    }

    .sidenav.show .nav-link.active {
        color: var(--bs-primary);
    }
}

/** index page **/
@media (min-width: 1200px) {
    .hero-image {
        width: 75%;
    }

    h1.hero-heading {
        font-size: 2.5rem;
    }

    .hero-section,
    .features,
    .testimonials,
    .call-to-action {
        padding: 3.5rem 3.5rem;
    }

    .navbar>.container-fluid {
        width: 50%;
    }
}

/** signup / login form **/
@media (min-width: 768px) {
    .wrapper-glassmorphism {
        width: 450px;
        padding: 5rem;
    }
}