{% extends 'base.html' %}
{% from '_form_macros.html' import render_field, render_field_with_value, render_submit_btn, render_select_field_with_value %}

{% block content %}

<div class="row text-center">
    <p class="fs-3">Hello, {{ account.name }}</p>
</div>

<section class="mt-2">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Account Information</h5>
                    <div class="form-floating">
                        <p class="card-text form-control border-0 mb-1">{{ account.name }}</p>
                        <label>Name</label>
                    </div>
                    <div class="form-floating">
                        <p class="card-text form-control border-0 mb-1">{{ account.email }}</p>
                        <label>Email Address</label>
                    </div>
                    <div class="form-floating">
                        <p class="card-text form-control border-0 mb-1">{{ account.business_id.business_name }}</p>
                        <label>Company's Name</label>
                    </div>
                    <a class="btn btn-primary" data-action="showForm" data-target="accountForm">Edit Account</a>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title fw-bold">User Access</h5>
                    <div class="row">
                        <div class="col-6">
                            <span class="text-muted">Name</span>
                        </div>
                        <div class="col-3">
                            <span class="text-muted">Role</span>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    {% for access in user_access %}
                    <!-- Account holder should be hidden and shall not be touched -->
                    {% if access.account_holder == False %}
                    <div class="row mt-2 align-items-center">
                        <div class="col-6">
                            {{ access.name }}
                        </div>
                        <div class="col-3">
                            {% for role in access.roles %}
                            {{ role|capitalize }}
                            {% endfor %}
                        </div>
                        <div class="col-3 px-0">
                            <a data-action="showForm" data-target="edit_user_access" data-id="{{ access.id }}"
                                class="text-decoration-none btn btn-sm btn-outline-primary">
                                <i class="bi bi-pencil-square" aria-hidden="true"></i>
                                <span class="visually-hidden">Edit current user access</span>
                            </a>
                            <a href="{{ url_for('delete_access', access_id=access.id) }}"
                                class="text-decoration-none btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash" aria-hidden="true"></i>
                                <span class="visually-hidden">Delete current user access</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <a href="#" class="btn btn-primary mt-4" data-action="showForm" data-target="userAccessForm">
                        Create New Access</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div id="form-container">

            </div>


        </div>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script>
    var accountForm = `            
            <form id="accountForm" class="mt-4 mt-md-0"
                action="{{ url_for('edit_account', account_id=account.id) }}" method="POST">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Edit Account</h5>
                        {{ account_form.csrf_token }}

                        {{ render_field_with_value(account_form.name, current_user.name) }}
                        {{ render_field_with_value(account_form.business_name, current_user.business_id.business_name) }}
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="#" class="btn btn-outline-secondary" data-action="hideForm">Cancel</a>
                    </div>
                </div>
            </form>`;

    var userAccessForm = `            
            <form id="userAccessForm" class="mt-4 mt-md-0" action="{{ url_for('create_new_access') }}"
                method="POST">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Create New User Access</h5>
                        {{ access_form.csrf_token }}

                        {{ render_field(access_form.name) }}
                        {{ render_field(access_form.email) }}
                        {{ render_field(access_form.password) }}
                        {{ render_field(access_form.roles) }}
                        <button type="submit" class="btn btn-primary">Create new</button>
                        <a href="#" class="btn btn-outline-secondary" data-action="hideForm">Cancel</a>
                    </div>
                </div>
            </form>`;

    var edit_user_access = `            
            <form id="edit_user_access" class="mt-4" action="" method="POST">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Edit User Access</h5>
                        {{ access_form.csrf_token }}
                        {{ render_field(access_form.name) }}
                        {{ render_field(access_form.roles) }}
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="#" class="btn btn-outline-secondary" data-action="hideForm">Cancel</a>
                    </div>
                </div>
            </form>`;
</script>
{% endblock %}