{% extends 'base.html' %}
{% set active_page = 'categories' %}
{% from '_form_macros.html' import render_field, render_field_with_value, render_submit_btn %}

{% block content %}

<section class="mt-2">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card px-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Manage Categories</h5>

                    {% for category in categories %}
                    <div class="row mt-3 border border-dark align-items-center py-2 g-0">
                        <div class="col-9 ps-3">
                            {{ category.category_name }}
                        </div>
                        <div class="col-3 text-center">
                            <a data-action="showForm" data-target="edit_category" data-id="{{ category.id }}"
                                class="text-decoration-none btn btn-sm btn-outline-primary">
                                <i class="bi bi-pencil-square" aria-hidden="true"></i>
                                <span class="visually-hidden">Edit category</span>
                            </a>
                            <a href="{{ url_for('delete_category', category_id=category.id) }}"
                                class="text-decoration-none btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash" aria-hidden="true"></i>
                                <span class="visually-hidden">Delete category</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <a class="btn btn-primary mt-4" data-action="showForm" data-target="createCategoryForm">
                        Create new category</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div id="form-container">

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script>
    var createCategoryForm = `
            <form id="createCategory" class="mt-4 mt-md-0" action="{{ url_for('create_category') }}" method="POST">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Create new category</h5>
                        {{ form.csrf_token }}

                        {{ render_field(form.category_name) }}
                        {{ render_submit_btn(form.submit) }}
                        <a href="#" class="btn btn-outline-secondary" data-action="hideForm">Cancel</a>
                    </div>
                </div>
            </form>`;
    var edit_category = `
            <form id="edit_category" class="mt-4 mt-md-0" action="" method="POST">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Edit category</h5>
                        {{ form.csrf_token }}

                        {{ render_field(form.category_name) }}
                        {{ render_submit_btn(form.submit) }}
                        <a href="#" class="btn btn-outline-secondary" data-action="hideForm">Cancel</a>
                    </div>
                </div>
            </form>`;
</script>
{% endblock %}