{% extends 'base.html' %}
{% block body %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light px-3 px-md-5">
        <div class="container-fluid">
            <div class="navbar-brand">
                <div>Stock</div>
                <div>MGMT</div>
            </div>

            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item">
                    <a class="nav-link me-3" href="{{ url_for('user.login') }}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.register') }}">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <section class="container-fluid hero-section">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-7 col-xl-4 offset-xl-2 text-md-center text-start">
                <div class="hero-text mb-2">
                    <h1 class="hero-heading">
                        <span class="d-block fw-bold">Stock management</span>
                        <span class="d-block fw-bold text-primary">made simple.</span>
                    </h1>
                    <p>StockMGMT is a simple stock management application which helps small businesses take control of their inventory and stock flow.</p>
                </div>
                <div class="text-center my-3">
                    <a href="{{ url_for('user.register') }}" class="btn btn-primary px-4 py-2">Get started</a>
                    <a href="#features" class="btn btn-outline-primary px-4 py-2">Learn more</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 mt-4 mt-md-0">
                <img src="{{ url_for('static', filename='img/hero-image.jpg') }}"
                    alt="A female business owner happy to open her shop" class="img-fluid hero-image">
            </div>
        </div>
    </section>

    <section id="features" class="container-fluid features">
        <div class="row">
            <h2 class="section-title">Features</h2>
            <p>StockMGMT is a web-based with built-in features tailored towards small businesses to help business
                owners build a central database of what's available in their storage. StockMGMT lifts the burden of
                managing inventory with traditional spreadsheets and save valuable management time so that business owners
                can focus more on building their business.</p>

        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-2">
            {% for feature in features %}
            <div class="col mb-3">
                <div class="p-4 h-100 my-auto card card-body">
                    <p class="fw-bold fs-5">
                        <i class="bi {{ feature.icon }} text-primary me-2"></i>
                        {{ feature.title }}
                    </p>
                    <p class="feature-text">{{ feature.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="container-fluid testimonials">
        <h2 class="section-title">Testimonials</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-4">
            {% for testimonial in testimonials %}
            <div class="col mb-3">
                <div class="card">
                    <div class="p-3 text-center">
                        <img src="{{ testimonial.img }}" class="w-75 card-img-top"
                            alt="Portrait of {{ testimonial.person }} from {{ testimonial.company }}">
                    </div>
                    <div class="card-body">
                        <figure>
                            <blockquote class="blockquote">
                                <p class="card-text fs-6">{{ testimonial.text }}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                {{ testimonial.person }} from <span><em>{{ testimonial.company }}</em></span>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="container-fluid call-to-action">
        <div class="row text-center">
            <h2 class="section-title">
                <span class="d-block">Keep StockMGMT <span class="text-primary">centralized.</span></span>
                <span class="d-block">Keep StockMGMT <span class="text-primary">simplified.</span></span>
            </h2>

            <div class="divider mx-auto"></div>
            
            <p>Thousands of small businesses have taken advantage over simplicity to take control over their stock management. Take your turn today!</p>
            <div>
                <a href="{{ url_for('user.register') }}" class="btn btn-lg btn-primary px-4 py-2">Get started now!</a>
            </div>
        </div>
    </section>
</main>

<footer class="text-center bg-light p-4">
    <p>Copyright &copy; <a href="{{ url_for('index') }}" class="text-decoration-none">StockMGMT 2021</a></p>
</footer>

{% endblock %}