{% extends 'base.html' %}
{% from '_form_macros.html' import render_field %}
{% from '_form_macros.html' import render_submit_btn %}

{% block body %}
<section class="form-backdrop d-flex flex-column align-items-center justify-content-center min-vh-100">
    <!-- flash messages -->
    <div class="flash-wrapper">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="mb-3">
            <p class="flash-message {{ category }}">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- end flash messages -->

    <div class="row mb-3">
        <a href="{{ url_for('index') }}" class="text-decoration-none">
            <h1 class="brand-text">
                <span>Stock</span>
                <span>MGMT</span>
            </h1>
        </a>
    </div>
    <div class="row wrapper-glassmorphism text-white">
        <div class="col">
            <div class="form-navigation">
                <a href="{{ url_for('user.register') }}" class="form-navigation-link">Register</a>
                <a href="{{ url_for('user.login') }}" class="form-navigation-link active">Login</a>
            </div>

            <form action="{{ url_for('user.login') }}" method="POST">
                {{ form.csrf_token }}
                <div class="mb-3">
                    <label for="{{ form.email.name }}">{{ form.email.label.text }}</label>
                    {{ form.email (class='form-control')}}
                    <ul class="list-unstyled">
                        {% for error in form.email.errors %}
                        <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="mb-3">
                    <label for="{{ form.password.name }}">{{ form.password.label.text }}</label>
                    {{ form.password (class='form-control')}}
                    <ul class="list-unstyled">
                        {% for error in form.password.errors %}
                        <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>

                {{ render_submit_btn(form.submit) }}
            </form>
        </div>
    </div>
</section>

{% endblock %}