{% extends 'base.html' %}
{% from '_form_macros.html' import render_field, render_field_with_value, render_select_field, render_select_field_with_value, render_submit_btn %}
{% block content %}
<section class="mt-3 container">
    <h2 class="mb-3">Pending stock details</h2>

    <div class="row">
        <!-- Pending stock details  -->
        <div class="col-12 col-md-7">
            <div class="card">
                <div class="card-body">
                    <!-- Pending stock information -->
                    <div class="row align-items-center mb-2 g-0">
                        <div class="col-6">
                            <div class="form-floating">
                                <p class="card-text form-control border-0 mb-1">{{ pending.supplier_id.supplier_name }}
                                </p>
                                <label>Supplier</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <p class="card-text form-control border-0 mb-1">{{ pending.delivery_date.strftime('%d-%m-%Y') }}</p>
                                <label class="px-0">Expected delivery</label>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center pb-3 mb-3 g-0 border-bottom border-dark border-1">
                        <div class="col-6">
                            <div class="form-floating">
                                <p class="card-text form-control border-0 mb-1">{{ pending.created_by.name }}
                                </p>
                                <label>Created by</label>
                            </div>
                        </div>
                        <div class="col-6">
                            {% if pending.is_approved == True %}
                            <span class="badge bg-success">Done</span>
                            {% else %}
                            <span class="badge bg-warning">Pending</span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End of pending stock information -->
                    <!-- Pending stock's product list -->
                    <div class="row align-items-center mb-2 g-0">
                        <div class="col-6 ps-2">
                            <span class="text-muted">Product Name</span>
                        </div>
                        <div class="col-3 text-center">
                            <span class="text-muted">Expected</span>
                        </div>

                        {% if (session.stock and session.stock|length > 0) or pending.is_approved == True%}
                        <div class="col-3 text-center">
                            <span class="text-muted">Received</span>
                        </div>
                        {% endif %}
                    </div>

                    {% for product in pending.product_list %}
                    <div class="row align-items-center mb-2 g-0">
                        <div class="col-6 ps-2">
                            {{ product.name }}
                        </div>
                        <div class="col-3 text-center">
                            {{ product.expected_stock }} {{ product.unit_of_measurement }}
                        </div>
                        <div class="col-3 text-center">
                            {% for item in session.stock %}
                                {% if item.id == product.id %}
                                {{ item.received_stock }} {{ product.unit_of_measurement }}
                                {% endif %}
                            {% endfor %}

                            {% if product.received_stock %}
                            {{ product.received_stock }} {{ product.unit_of_measurement }}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End of pending stock's product list -->
                    <!-- Pending stock's action buttons -->
                    {% if pending.is_approved == False %}
                    <div class="mt-4">
                        <a data-action="showForm" data-target="update_stock"
                            class="btn btn-md btn-primary mb-2 mb-sm-0">Update Stock</a>
                        {% if session.stock and session.stock|length > 0 %}
                        <a href="{{ url_for('approve_pending_stock', id=pending.id) }}"
                            class="btn btn-md btn-success mb-2 mb-sm-0">Approve</a>
                        {% endif %}
                        
                        {% if 'admin' in current_user.roles %}
                        <br class="d-block d-sm-none">
                        <a href="{{ url_for('edit_pending_stock', id=pending.id) }}"
                            class="btn btn-md btn-outline-primary">Edit</a>
                        <a href="{{ url_for('delete_pending_stock', id=pending.id) }}"
                            class="btn btn-md btn-outline-danger">Delete</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    <!-- End of action buttons -->
                </div>
            </div>
        </div>
        <!-- End of pending stock details  -->

        {% if pending.is_approved == False %}
        <!-- Update pending stock form  -->
        <div class="col-md-5">
            <div id="form-container">

            </div>
        </div>
        <!-- End of update pending stock form  -->
        {% endif %}
    </div>
</section>

{% endblock %}

{% block javascript %}
<script>

    var update_stock = `            
            <div class="card mt-4 mt-md-0" id="update_stock">
                <div class="card-body">
                    <h5 class="card-title fw-bold fs-6">Update pending stock</h5>
                    <!-- Pending stock information -->
                    <div class="row align-items-center g-0 mb-3 border-bottom border-dark border-1">
                        <div class="col-12">
                            <div class="form-floating">
                                <p class="card-text form-control border-0 mb-1">
                                    {{ pending.supplier_id.supplier_name }}
                                </p>
                                <label>Supplier</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <p class="card-text form-control border-0 mb-1">{{ pending.delivery_date }}</p>
                                <label>Expected delivery</label>
                            </div>
                        </div>
                    </div>
                    <!-- End of pending stock information -->

                    <div class="row align-items-center mb-2 g-0">
                        <div class="col-6 ps-2">
                            <span class="text-muted">Product Name</span>
                        </div>
                        <div class="col-3 text-center d-md-none">
                            <span class="text-muted">Expected</span>
                        </div>
                        <div class="col-3 col-md-6 text-center">
                            <span class="text-muted">Received</span>
                        </div>
                    </div>

                    <!-- Update pending stock -->
                    {% for product in pending.product_list %}
                    <div class="row align-items-center mb-2 g-0">
                        <div class="col-6 ps-2">
                            {{ product.name }}
                        </div>
                        <div class="col-3 text-center d-md-none">
                            {{ product.expected_stock }} {{ product.unit_of_measurement }}
                        </div>
                        <div class="col-3 col-md-6 text-center">
                            <form class="stock-form" method="POST">
                                {{ form.csrf_token }}
                                {{ form.id(value=product.id) }}

                                {% if session.stock %}
                                    {% for item in session.stock %}
                                        {% if item.id == product.id %}
                                        {{ form.received_stock(class='form-control', value=item.received_stock, min="0") }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ form.received_stock(class='form-control') }}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="mt-4">
                        <a href="{{ url_for('pending_stock_details', id=pending.id) }}"
                            class="btn btn-md btn-primary me-2">Update</a>
                        <a href="#" class="btn btn-outline-secondary" data-action="hideForm">Cancel</a>
                    </div>
                    <!-- End of update pending stock -->
                </div>
            </div>`;
</script>
{% endblock %}