{% extends 'base.html' %}
{% from '_form_macros.html' import render_field, render_field_with_value, render_select_field, render_select_field_with_value, render_submit_btn %}
{% block content %}
<section class="mt-2">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card px-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Product Details</h5>

                    <div class="row mt-3 align-items-center py-2 g-0">
                        <div class="form-floating">
                            <p class="card-text form-control border-0 mb-1">{{ product.name }}</p>
                            <label>Product name</label>
                        </div>
                        <div class="form-floating">
                            <p class="card-text form-control border-0 mb-1">{{ product.brand }}</p>
                            <label>Product brand</label>
                        </div>
                        <div class="form-floating">
                            <p class="card-text form-control border-0 mb-1">{{ product.category_id.category_name }}</p>
                            <label>Product category</label>
                        </div>
                        <div class="form-floating">
                            <p class="card-text form-control border-0 mb-1">{{ product.supplier_id.supplier_name }}</p>
                            <label>Supplier</label>
                        </div>
                        <div class="form-floating">
                            <p class="card-text form-control border-0 mb-1">{{ product.unit_of_measurement }}</p>
                            <label>Unit of measurement</label>
                        </div>
                        <div class="form-floating">
                            <p class="card-text form-control border-0 mb-1">{{ product.min_stock_allowed }}</p>
                            <label>Minimum stock</label>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <p class="card-text form-control border-0 mb-1">{{ product.current_stock }}</p>
                                <label>Current stock</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <p class="card-text form-control border-0 mb-1">
                                    {% if product.stock_change_date.date() == today %}
                                        {{ product.stock_change }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </p>
                                <label class="px-0">Today's change</label>
                            </div>
                        </div>
                    </div>

                    <div class="my-auto">
                        <a href="#" class="btn btn-md btn-primary me-2" data-action="showForm" data-target="updateStockForm">
                            Update Stock
                        </a>
                        {% if 'admin' in current_user.roles %}
                        <a href="#" class="btn btn-md btn-outline-primary text-decoration-none me-2" data-action="showForm" data-target="editProductForm">
                            Edit
                        </a>
                        <a href="{{ url_for('delete_product', product_id=product.id) }}" class="btn btn-md btn-outline-danger">
                            Delete
                        </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div id="form-container">

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
    var editProductForm = `            
            <form id="editProductForm" class="mt-4 mt-md-0" action="{{ url_for('edit_product', product_id=product.id) }}" method="POST">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Edit product details</h5>
                        {{ form.csrf_token }}
                        {{ render_field_with_value(form.name, product.name) }}
                        {{ render_field_with_value(form.brand, product.brand) }}
                        {{ render_select_field_with_value(form.category_id, product.category_id.category_name) }}
                        {{ render_select_field_with_value(form.supplier_id, product.supplier_id.supplier_name) }}
                        {{ render_field_with_value(form.unit_of_measurement, product.unit_of_measurement) }}
                        {{ render_field_with_value(form.min_stock_allowed, product.min_stock_allowed) }}
                        {{ render_submit_btn(form.submit) }}
                        <a href="#" class="btn btn-outline-secondary" data-action="hideForm">Cancel</a>
                    </div>
                </div>
            </form>`;
    
    var updateStockForm = `            
            <form id="updateStockForm" class="mt-4 mt-md-0" action="{{ url_for('update_stock', product_id=product.id) }}" method="POST">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Update Stock</h5>
                        {{ form.csrf_token }}
                        <div class="form-floating">
                            <p class="card-text form-control border-0 mb-1">{{ product.name }}</p>
                            <label>Product Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class='form-control' id="stock_update" name="stock_update" max="200">
                            <label for="stock_update">Stock Change</label>
                        </div>
                        {{ render_submit_btn(form.submit) }}
                        <a href="#" class="btn btn-outline-secondary" data-action="hideForm">Cancel</a>
                    </div>
                </div>
            </form>`;
</script>
{% endblock %}