{% extends 'base.html' %}
{% from '_form_macros.html' import render_field %}
{% from '_form_macros.html' import render_submit_btn %}

{% block content %}

<div class="row text-center">
    <p class="fs-3">Hello, {{ account.name }}</p>
</div>

<section class="mt-2">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Account Information</h5>
                    <div class="form-floating">
                        <p class="card-text form-control border-0 mb-1">{{ account.name }}</p>
                        <label for="floatingInputGrid">Name</label>
                    </div>
                    <div class="form-floating">
                        <p class="card-text form-control border-0 mb-1">{{ account.company_name }}</p>
                        <label for="floatingInputGrid">Company's Name</label>
                    </div>
                    <div class="form-floating">
                        <p class="card-text form-control border-0 mb-1">{{ account.company_name }}</p>
                        <label for="floatingInputGrid">Email Address</label>
                    </div>
                    <a class="btn btn-primary" data-action="showForm" data-target="#profileForm">Edit Profile</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <form id="profileForm" class="d-none" action="" method="POST">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Edit Profile</h5>
                        {{ account_form.csrf_token }}

                        {{ render_field(account_form.name) }}
                        {{ render_field(account_form.username) }}
                        {{ render_field(account_form.company_name) }}
                        <a href="#" class="btn btn-primary">Update</a>
                        <a href="#" class="btn btn-outline-primary" data-action="hideForm"
                            data-target="#profileForm">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>




{% endblock %}